.menu-bottom {
    position: fixed;
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    bottom: 0;
    display: flex;
}

.menu-bottom__list {
    display: inline;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    transition: var(--short-transition);
} .menu-bottom__list:hover {
    background-color: var(--blue);
}

.menu-bottom__link {
    text-decoration: none;
    display: block;
    padding-top: 4px;
    color: var(--white);
}

.menu-bottom svg {
    width: 30px;
}

.menu-bottom svg path {
    fill: var(--white);
}

.menu-bottom svg .add {
    fill: transparent;
    stroke: var(--white);
}

.menu-bottom svg .calendar {
    fill: transparent;
    stroke: var(--white);
}
