.menu-add-dish {
    pointer-events: none;
    background-color: var(--blue);
}

.content {
    padding: 2rem;
}

.submit {
    margin-top: 1rem;
}

.dish-list {
    margin-top: 1rem;
}

.dish-list li {
    border: 1px solid var(--brown);
    margin-bottom: 0.4rem;
    padding: 0.4rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.dish-list li:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--white);
}

.dish-list .ico {
    position: relative;
    top: 2px;
    display: block;
    width: 18px;
    float: right;
    margin-right: 0.5rem;
}

.dish-list .modify {
    margin-right: 1rem;
}