.menu-add-dish {
    pointer-events: none;
    background-color: var(--blue);
}

.content {
    padding: 2rem;
    height: calc(100vh - 76px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--yellow) transparent;
}

@media (max-width: 678px) {
    .content {
        padding: 1rem;
    }
}

.input__container {
    position: sticky;
    background-color: var(--white);
    top: -54px;
    z-index: 1;
}

.submit {
    margin-top: 1rem;
}

.tags {
    display: inline;
    position: relative;
    top: -8px;
}

.tags .tag-element {
    margin-left: 10px;
    padding: 0 10px 4px 10px;
}

.tags .tag-element .remove-tag {
    display: none;
}
