.menu-weekly-meals {
    pointer-events: none;
    background-color: var(--blue);
}

.form-wrapper {
    padding: 1rem;
}

.generated-table {
    padding: 0 1rem;
    padding-bottom: 100px;
}

.generated-table .controls {
    float: right;
}

.generated-table .controls .button {
    margin-right: 6px;
}

.generated-table .dish-element-list.locked .open-ico {
    display: none;
}

.generated-table .dish-element-list .locked-ico {
    display: none;
}

.generated-table .dish-element-list.locked .locked-ico {
    display: initial;
}

.generated-table .dish-element-list svg {
    height: 20px;
}

.generated-table .dish-element-list path {
    fill: var(--yellow);
    stroke: var(--yellow);
}

.generated-table .dish-element-list:hover path {
    fill: var(--white);
    stroke: var(--white);
}

.generated-table .dish-element-list.locked .locked-ico path,
.generated-table .dish-element-list .button:hover path {
    fill: var(--brown);
    stroke: var(--brown);
}

.reset {
    margin-top: 1rem;
    background-color: var(--red);
} .reset:hover {
    background-color: var(--blue);
}

.dish-list .dish-element-list.selected-to-copy,
.dish-list .dish-element-list.selected-to-swap {
    background-color: var(--yellow);
}

.dish-list .dish-element-list.selected-to-copy path,
.dish-list .dish-element-list.selected-to-swap path {
    fill: var(--white);
    stroke: var(--white);
}

.dish-list .dish-element-list.selected-to-copy .button__copy path,
.dish-list .dish-element-list.selected-to-swap .button__swap path {
    fill: var(--brown);
    stroke: var(--brown);
}

.dish-list .dish-element-list.selected-to-copy .button:not(.button__copy),
.dish-list .dish-element-list.selected-to-swap .button:not(.button__swap) {
    pointer-events: none;
}

@media (max-width: 476px) {
    .dish-list .dish-element-list .controls,
    .dish-list-modal .dish-element-list .select {
        display: block;
        float: none;
        text-align: center;
        padding-top: 6px;
    }

    .dish-list-modal .dish-element-list .select {
        margin-top: 10px;
    }
}