.dish-list-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    transition: 0.4s ease-out;
    scrollbar-width: thin;
    scrollbar-color: var(--yellow) transparent;
    overflow: auto;
    padding: 1rem;
    margin-top: 0;
}

.dish-list-modal.hidden {
    top: 100%;
}

.dish-list-modal .select {
    float: right;
    background-color: var(--blue);
    outline: 3px solid var(--blue);
    padding: 0 1rem;
    color: var(--white);
    transition: var(--short-transition);
}

.dish-list-modal .select:hover {
    background-color: var(--red);
    outline-color: var(--brown);
}
